GENLSYS.MES.WinPAD/Service References/wsMDL/wsMDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsMDL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IwsMDL_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" />
      <xsd:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GENLSYS.MES.Common" />
      <xsd:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" />
      <xsd:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd7" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwsMDL_GetSingleReasonCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleReasonCode" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleReasonCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleReasonCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertReasonCode_InputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertReasonCode" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertReasonCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertReasonCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateReasonCode_InputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateReasonCode" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateReasonCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateReasonCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteReasonCode_InputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteReasonCode" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteReasonCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteReasonCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCodeStep_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCodeStep" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCodeStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCodeStepResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetShiftRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShiftRecords" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetShiftRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShiftRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetShiftList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShiftList" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetShiftList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShiftListResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleShift_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleShift" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertShift_InputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertShift" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateShift_InputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateShift" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteShift_InputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteShift" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetWorkGroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkGroupList" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetWorkGroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetWorkGroupRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkGroupRecords" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetWorkGroupRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkGroupRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleWorkGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleWorkGroup" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleWorkGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleWorkGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertWorkGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertWorkGroup" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertWorkGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertWorkGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateWorkGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateWorkGroup" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateWorkGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateWorkGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteWorkGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteWorkGroup" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteWorkGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteWorkGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetEmployeeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeList" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetEmployeeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeListResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetEmployeeRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeRecords" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetEmployeeRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleEmployee" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertEmployee" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetEmployeeTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeTypeList" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetEmployeeTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetEmployeeTypeRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeTypeRecords" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetEmployeeTypeRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeTypeRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleEmployeeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleEmployeeType" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleEmployeeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleEmployeeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertEmployeeType_InputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertEmployeeType" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertEmployeeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertEmployeeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateEmployeeType_InputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateEmployeeType" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateEmployeeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateEmployeeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteEmployeeType_InputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteEmployeeType" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteEmployeeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteEmployeeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerList" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetCustomerRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerRecords" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetCustomerRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleCustomer" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertCustomer" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetContactRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactRecords" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetContactRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCategoryList" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCategoryRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCategoryRecords" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCategoryRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCategoryRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleReasonCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleReasonCategory" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetSingleReasonCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleReasonCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertReasonCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertReasonCategory" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoInsertReasonCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoInsertReasonCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateReasonCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateReasonCategory" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoUpdateReasonCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoUpdateReasonCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteReasonCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteReasonCategory" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_DoDeleteReasonCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoDeleteReasonCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCodeList_ByCategoryStep_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCodeList_ByCategoryStep" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCodeList_ByCategoryStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCodeList_ByCategoryStepResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCodeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCodeList" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCodeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCodeListResponse" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCodeRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCodeRecords" />
  </wsdl:message>
  <wsdl:message name="IwsMDL_GetReasonCodeRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReasonCodeRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="IwsMDL">
    <wsdl:operation name="GetSingleReasonCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetSingleReasonCode" message="tns:IwsMDL_GetSingleReasonCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetSingleReasonCodeResponse" message="tns:IwsMDL_GetSingleReasonCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoInsertReasonCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoInsertReasonCode" message="tns:IwsMDL_DoInsertReasonCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoInsertReasonCodeResponse" message="tns:IwsMDL_DoInsertReasonCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoUpdateReasonCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateReasonCode" message="tns:IwsMDL_DoUpdateReasonCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateReasonCodeResponse" message="tns:IwsMDL_DoUpdateReasonCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoDeleteReasonCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteReasonCode" message="tns:IwsMDL_DoDeleteReasonCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteReasonCodeResponse" message="tns:IwsMDL_DoDeleteReasonCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReasonCodeStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCodeStep" message="tns:IwsMDL_GetReasonCodeStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCodeStepResponse" message="tns:IwsMDL_GetReasonCodeStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShiftRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetShiftRecords" message="tns:IwsMDL_GetShiftRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetShiftRecordsResponse" message="tns:IwsMDL_GetShiftRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShiftList">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetShiftList" message="tns:IwsMDL_GetShiftList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetShiftListResponse" message="tns:IwsMDL_GetShiftList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetSingleShift" message="tns:IwsMDL_GetSingleShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetSingleShiftResponse" message="tns:IwsMDL_GetSingleShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoInsertShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoInsertShift" message="tns:IwsMDL_DoInsertShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoInsertShiftResponse" message="tns:IwsMDL_DoInsertShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoUpdateShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateShift" message="tns:IwsMDL_DoUpdateShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateShiftResponse" message="tns:IwsMDL_DoUpdateShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoDeleteShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteShift" message="tns:IwsMDL_DoDeleteShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteShiftResponse" message="tns:IwsMDL_DoDeleteShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkGroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetWorkGroupList" message="tns:IwsMDL_GetWorkGroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetWorkGroupListResponse" message="tns:IwsMDL_GetWorkGroupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkGroupRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetWorkGroupRecords" message="tns:IwsMDL_GetWorkGroupRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetWorkGroupRecordsResponse" message="tns:IwsMDL_GetWorkGroupRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleWorkGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetSingleWorkGroup" message="tns:IwsMDL_GetSingleWorkGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetSingleWorkGroupResponse" message="tns:IwsMDL_GetSingleWorkGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoInsertWorkGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoInsertWorkGroup" message="tns:IwsMDL_DoInsertWorkGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoInsertWorkGroupResponse" message="tns:IwsMDL_DoInsertWorkGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoUpdateWorkGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateWorkGroup" message="tns:IwsMDL_DoUpdateWorkGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateWorkGroupResponse" message="tns:IwsMDL_DoUpdateWorkGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoDeleteWorkGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteWorkGroup" message="tns:IwsMDL_DoDeleteWorkGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteWorkGroupResponse" message="tns:IwsMDL_DoDeleteWorkGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetEmployeeList" message="tns:IwsMDL_GetEmployeeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetEmployeeListResponse" message="tns:IwsMDL_GetEmployeeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetEmployeeRecords" message="tns:IwsMDL_GetEmployeeRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetEmployeeRecordsResponse" message="tns:IwsMDL_GetEmployeeRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetSingleEmployee" message="tns:IwsMDL_GetSingleEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetSingleEmployeeResponse" message="tns:IwsMDL_GetSingleEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoInsertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoInsertEmployee" message="tns:IwsMDL_DoInsertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoInsertEmployeeResponse" message="tns:IwsMDL_DoInsertEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoUpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateEmployee" message="tns:IwsMDL_DoUpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateEmployeeResponse" message="tns:IwsMDL_DoUpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoDeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteEmployee" message="tns:IwsMDL_DoDeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteEmployeeResponse" message="tns:IwsMDL_DoDeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetEmployeeTypeList" message="tns:IwsMDL_GetEmployeeTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetEmployeeTypeListResponse" message="tns:IwsMDL_GetEmployeeTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTypeRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetEmployeeTypeRecords" message="tns:IwsMDL_GetEmployeeTypeRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetEmployeeTypeRecordsResponse" message="tns:IwsMDL_GetEmployeeTypeRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleEmployeeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetSingleEmployeeType" message="tns:IwsMDL_GetSingleEmployeeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetSingleEmployeeTypeResponse" message="tns:IwsMDL_GetSingleEmployeeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoInsertEmployeeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoInsertEmployeeType" message="tns:IwsMDL_DoInsertEmployeeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoInsertEmployeeTypeResponse" message="tns:IwsMDL_DoInsertEmployeeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoUpdateEmployeeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateEmployeeType" message="tns:IwsMDL_DoUpdateEmployeeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateEmployeeTypeResponse" message="tns:IwsMDL_DoUpdateEmployeeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoDeleteEmployeeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteEmployeeType" message="tns:IwsMDL_DoDeleteEmployeeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteEmployeeTypeResponse" message="tns:IwsMDL_DoDeleteEmployeeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetCustomerList" message="tns:IwsMDL_GetCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetCustomerListResponse" message="tns:IwsMDL_GetCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetCustomerRecords" message="tns:IwsMDL_GetCustomerRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetCustomerRecordsResponse" message="tns:IwsMDL_GetCustomerRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetSingleCustomer" message="tns:IwsMDL_GetSingleCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetSingleCustomerResponse" message="tns:IwsMDL_GetSingleCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoInsertCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoInsertCustomer" message="tns:IwsMDL_DoInsertCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoInsertCustomerResponse" message="tns:IwsMDL_DoInsertCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoUpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateCustomer" message="tns:IwsMDL_DoUpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateCustomerResponse" message="tns:IwsMDL_DoUpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoDeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteCustomer" message="tns:IwsMDL_DoDeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteCustomerResponse" message="tns:IwsMDL_DoDeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetContactRecords" message="tns:IwsMDL_GetContactRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetContactRecordsResponse" message="tns:IwsMDL_GetContactRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReasonCategoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCategoryList" message="tns:IwsMDL_GetReasonCategoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCategoryListResponse" message="tns:IwsMDL_GetReasonCategoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReasonCategoryRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCategoryRecords" message="tns:IwsMDL_GetReasonCategoryRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCategoryRecordsResponse" message="tns:IwsMDL_GetReasonCategoryRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleReasonCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetSingleReasonCategory" message="tns:IwsMDL_GetSingleReasonCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetSingleReasonCategoryResponse" message="tns:IwsMDL_GetSingleReasonCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoInsertReasonCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoInsertReasonCategory" message="tns:IwsMDL_DoInsertReasonCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoInsertReasonCategoryResponse" message="tns:IwsMDL_DoInsertReasonCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoUpdateReasonCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateReasonCategory" message="tns:IwsMDL_DoUpdateReasonCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoUpdateReasonCategoryResponse" message="tns:IwsMDL_DoUpdateReasonCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoDeleteReasonCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteReasonCategory" message="tns:IwsMDL_DoDeleteReasonCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/DoDeleteReasonCategoryResponse" message="tns:IwsMDL_DoDeleteReasonCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReasonCodeList_ByCategoryStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCodeList_ByCategoryStep" message="tns:IwsMDL_GetReasonCodeList_ByCategoryStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCodeList_ByCategoryStepResponse" message="tns:IwsMDL_GetReasonCodeList_ByCategoryStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReasonCodeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCodeList" message="tns:IwsMDL_GetReasonCodeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCodeListResponse" message="tns:IwsMDL_GetReasonCodeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReasonCodeRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCodeRecords" message="tns:IwsMDL_GetReasonCodeRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsMDL/GetReasonCodeRecordsResponse" message="tns:IwsMDL_GetReasonCodeRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IwsMDL" type="tns:IwsMDL">
    <wsp:PolicyReference URI="#WSHttpBinding_IwsMDL_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSingleReasonCode">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetSingleReasonCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoInsertReasonCode">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoInsertReasonCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateReasonCode">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoUpdateReasonCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDeleteReasonCode">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoDeleteReasonCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReasonCodeStep">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetReasonCodeStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftRecords">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetShiftRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftList">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetShiftList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleShift">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetSingleShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoInsertShift">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoInsertShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateShift">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoUpdateShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDeleteShift">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoDeleteShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkGroupList">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetWorkGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkGroupRecords">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetWorkGroupRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleWorkGroup">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetSingleWorkGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoInsertWorkGroup">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoInsertWorkGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateWorkGroup">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoUpdateWorkGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDeleteWorkGroup">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoDeleteWorkGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeList">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetEmployeeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRecords">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetEmployeeRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleEmployee">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetSingleEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoInsertEmployee">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoInsertEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateEmployee">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoUpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDeleteEmployee">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoDeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTypeList">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetEmployeeTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeTypeRecords">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetEmployeeTypeRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleEmployeeType">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetSingleEmployeeType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoInsertEmployeeType">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoInsertEmployeeType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateEmployeeType">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoUpdateEmployeeType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDeleteEmployeeType">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoDeleteEmployeeType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetCustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerRecords">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetCustomerRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleCustomer">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetSingleCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoInsertCustomer">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoInsertCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateCustomer">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoUpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoDeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactRecords">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetContactRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReasonCategoryList">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetReasonCategoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReasonCategoryRecords">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetReasonCategoryRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleReasonCategory">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetSingleReasonCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoInsertReasonCategory">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoInsertReasonCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoUpdateReasonCategory">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoUpdateReasonCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDeleteReasonCategory">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/DoDeleteReasonCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReasonCodeList_ByCategoryStep">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetReasonCodeList_ByCategoryStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReasonCodeList">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetReasonCodeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReasonCodeRecords">
      <soap12:operation soapAction="http://tempuri.org/IwsMDL/GetReasonCodeRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsMDL">
    <wsdl:port name="WSHttpBinding_IwsMDL" binding="tns:WSHttpBinding_IwsMDL">
      <soap12:address location="http://localhost:1111/wsMDL.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1111/wsMDL.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>