GENLSYS.MES.Win/Service References/wsINP/wsINP12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1111/wsINP.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOftinpotherpricing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpotherpricing" nillable="true" type="tns:tinpotherpricing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpotherpricing" nillable="true" type="tns:ArrayOftinpotherpricing" />
  <xs:complexType name="tinpotherpricing">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="effectivedate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="expireddate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="itemname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="oprisysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpotherpricing" nillable="true" type="tns:tinpotherpricing" />
  <xs:complexType name="tinprequestpay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rptdate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="shippingsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinprequestpay" nillable="true" type="tns:tinprequestpay" />
  <xs:complexType name="ArrayOftinprequestpaydtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinprequestpaydtl" nillable="true" type="tns:tinprequestpaydtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinprequestpaydtl" nillable="true" type="tns:ArrayOftinprequestpaydtl" />
  <xs:complexType name="tinprequestpaydtl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="itemname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="qty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="shippingsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinprequestpaydtl" nillable="true" type="tns:tinprequestpaydtl" />
  <xs:complexType name="tinpreturn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="retsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="returndate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="returnno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="returntype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="returnuser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpreturndtl" nillable="true" type="tns:ArrayOftinpreturndtl" />
          <xs:element minOccurs="0" name="tmdlcustomer" nillable="true" type="tns:tmdlcustomer" />
          <xs:element minOccurs="0" name="tmdlcustomerReference" nillable="true" type="q4:EntityReferenceOftmdlcustomercl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpreturn" nillable="true" type="tns:tinpreturn" />
  <xs:complexType name="ArrayOftinpreturndtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpreturndtl" nillable="true" type="tns:tinpreturndtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpreturndtl" nillable="true" type="tns:ArrayOftinpreturndtl" />
  <xs:complexType name="tinpreturndtl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="retdtlsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="retsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpreturn" nillable="true" type="tns:tinpreturn" />
          <xs:element minOccurs="0" name="tinpreturnReference" nillable="true" type="q5:EntityReferenceOftinpreturncl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpreturndtl" nillable="true" type="tns:tinpreturndtl" />
  <xs:complexType name="tmdlcustomer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="comment1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="comment2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="comment3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contact1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contact2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customertype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fax1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fax2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="invoicetitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="invoicetoaddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="invoicetype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="manager" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="paymentcondition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shiptoaddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="short_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxtype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tel1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tel2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpiqc" nillable="true" type="tns:ArrayOftinpiqc" />
          <xs:element minOccurs="0" name="tinppricing" nillable="true" type="tns:ArrayOftinppricing" />
          <xs:element minOccurs="0" name="tinpreturn" nillable="true" type="tns:ArrayOftinpreturn" />
          <xs:element minOccurs="0" name="tinpschedule" nillable="true" type="tns:ArrayOftinpschedule" />
          <xs:element minOccurs="0" name="tinpworkorder" nillable="true" type="tns:ArrayOftinpworkorder" />
          <xs:element minOccurs="0" name="tmdlcontact" nillable="true" type="tns:ArrayOftmdlcontact" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tmdlcustomer" nillable="true" type="tns:tmdlcustomer" />
  <xs:complexType name="ArrayOftinpiqc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpiqc" nillable="true" type="tns:tinpiqc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpiqc" nillable="true" type="tns:ArrayOftinpiqc" />
  <xs:complexType name="tinpiqc">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="bootheight" type="xs:decimal" />
          <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="checkrequest" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="checkresult" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="createdtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="factory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="iqcdate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="iqcsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="returncartonqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="returntype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpiqcfail" nillable="true" type="tns:ArrayOftinpiqcfail" />
          <xs:element minOccurs="0" name="tinpiqcreturn" nillable="true" type="tns:ArrayOftinpiqcreturn" />
          <xs:element minOccurs="0" name="tmdlcustomer" nillable="true" type="tns:tmdlcustomer" />
          <xs:element minOccurs="0" name="tmdlcustomerReference" nillable="true" type="q7:EntityReferenceOftmdlcustomercl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpiqc" nillable="true" type="tns:tinpiqc" />
  <xs:complexType name="ArrayOftinpiqcfail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpiqcfail" nillable="true" type="tns:tinpiqcfail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpiqcfail" nillable="true" type="tns:ArrayOftinpiqcfail" />
  <xs:complexType name="tinpiqcfail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="iqcsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reasoncode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reasoncomment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpiqc" nillable="true" type="tns:tinpiqc" />
          <xs:element minOccurs="0" name="tinpiqcReference" nillable="true" type="q8:EntityReferenceOftinpiqccl_SnyTG4" />
          <xs:element minOccurs="0" name="tmdlreasoncode" nillable="true" type="tns:tmdlreasoncode" />
          <xs:element minOccurs="0" name="tmdlreasoncodeReference" nillable="true" type="q8:EntityReferenceOftmdlreasoncodecl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpiqcfail" nillable="true" type="tns:tinpiqcfail" />
  <xs:complexType name="tmdlreasoncode">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="attributeid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="frequence" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="jpdesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reasoncategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reasoncode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reasoncodedesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reasoncodemodel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="severitylevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpiqcfail" nillable="true" type="tns:ArrayOftinpiqcfail" />
          <xs:element minOccurs="0" name="tinprepairfail" nillable="true" type="tns:ArrayOftinprepairfail" />
          <xs:element minOccurs="0" name="tmdlreasoncategory" nillable="true" type="tns:tmdlreasoncategory" />
          <xs:element minOccurs="0" name="tmdlreasoncategoryReference" nillable="true" type="q9:EntityReferenceOftmdlreasoncategorycl_SnyTG4" />
          <xs:element minOccurs="0" name="tmdlreasoncodestep" nillable="true" type="tns:ArrayOftmdlreasoncodestep" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tmdlreasoncode" nillable="true" type="tns:tmdlreasoncode" />
  <xs:complexType name="ArrayOftinprepairfail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinprepairfail" nillable="true" type="tns:tinprepairfail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinprepairfail" nillable="true" type="tns:ArrayOftinprepairfail" />
  <xs:complexType name="tinprepairfail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="reasoncode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="repsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlreasoncode" nillable="true" type="tns:tmdlreasoncode" />
          <xs:element minOccurs="0" name="tmdlreasoncodeReference" nillable="true" type="q10:EntityReferenceOftmdlreasoncodecl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinprepairfail" nillable="true" type="tns:tinprepairfail" />
  <xs:complexType name="tmdlreasoncategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="attrtplatid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reasoncategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reasoncategorydesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlreasoncode" nillable="true" type="tns:ArrayOftmdlreasoncode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tmdlreasoncategory" nillable="true" type="tns:tmdlreasoncategory" />
  <xs:complexType name="ArrayOftmdlreasoncode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tmdlreasoncode" nillable="true" type="tns:tmdlreasoncode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftmdlreasoncode" nillable="true" type="tns:ArrayOftmdlreasoncode" />
  <xs:complexType name="ArrayOftmdlreasoncodestep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tmdlreasoncodestep" nillable="true" type="tns:tmdlreasoncodestep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftmdlreasoncodestep" nillable="true" type="tns:ArrayOftmdlreasoncodestep" />
  <xs:complexType name="tmdlreasoncodestep">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q12:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="lastmodifiedtime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reasoncode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stepsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlreasoncode" nillable="true" type="tns:tmdlreasoncode" />
          <xs:element minOccurs="0" name="tmdlreasoncodeReference" nillable="true" type="q12:EntityReferenceOftmdlreasoncodecl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tmdlreasoncodestep" nillable="true" type="tns:tmdlreasoncodestep" />
  <xs:complexType name="ArrayOftinpiqcreturn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpiqcreturn" nillable="true" type="tns:tinpiqcreturn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpiqcreturn" nillable="true" type="tns:ArrayOftinpiqcreturn" />
  <xs:complexType name="tinpiqcreturn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q13:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="cartonno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="iqcsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="tinpiqc" nillable="true" type="tns:tinpiqc" />
          <xs:element minOccurs="0" name="tinpiqcReference" nillable="true" type="q13:EntityReferenceOftinpiqccl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpiqcreturn" nillable="true" type="tns:tinpiqcreturn" />
  <xs:complexType name="ArrayOftinppricing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinppricing" nillable="true" type="tns:tinppricing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinppricing" nillable="true" type="tns:ArrayOftinppricing" />
  <xs:complexType name="tinppricing">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q14:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="prisysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reworkratio" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="tinppricingdtl" nillable="true" type="tns:ArrayOftinppricingdtl" />
          <xs:element minOccurs="0" name="tmdlcustomer" nillable="true" type="tns:tmdlcustomer" />
          <xs:element minOccurs="0" name="tmdlcustomerReference" nillable="true" type="q14:EntityReferenceOftmdlcustomercl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinppricing" nillable="true" type="tns:tinppricing" />
  <xs:complexType name="ArrayOftinppricingdtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinppricingdtl" nillable="true" type="tns:tinppricingdtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinppricingdtl" nillable="true" type="tns:ArrayOftinppricingdtl" />
  <xs:complexType name="tinppricingdtl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q15:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ebootheight" type="xs:decimal" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pridtlsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="prisysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reworkprice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="reworkratio" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="sbootheight" type="xs:decimal" />
          <xs:element minOccurs="0" name="tinppricing" nillable="true" type="tns:tinppricing" />
          <xs:element minOccurs="0" name="tinppricingReference" nillable="true" type="q15:EntityReferenceOftinppricingcl_SnyTG4" />
          <xs:element minOccurs="0" name="tinppricingdtldef" nillable="true" type="tns:ArrayOftinppricingdtldef" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinppricingdtl" nillable="true" type="tns:tinppricingdtl" />
  <xs:complexType name="ArrayOftinppricingdtldef">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinppricingdtldef" nillable="true" type="tns:tinppricingdtldef" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinppricingdtldef" nillable="true" type="tns:ArrayOftinppricingdtldef" />
  <xs:complexType name="tinppricingdtldef">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q16:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="effectivedate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="expireddate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="price" type="xs:decimal" />
          <xs:element minOccurs="0" name="pridtldefsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pridtlsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinppricingdtl" nillable="true" type="tns:tinppricingdtl" />
          <xs:element minOccurs="0" name="tinppricingdtlReference" nillable="true" type="q16:EntityReferenceOftinppricingdtlcl_SnyTG4" />
          <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinppricingdtldef" nillable="true" type="tns:tinppricingdtldef" />
  <xs:complexType name="ArrayOftinpreturn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpreturn" nillable="true" type="tns:tinpreturn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpreturn" nillable="true" type="tns:ArrayOftinpreturn" />
  <xs:complexType name="ArrayOftinpschedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpschedule" nillable="true" type="tns:tinpschedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpschedule" nillable="true" type="tns:ArrayOftinpschedule" />
  <xs:complexType name="tinpschedule">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q17:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="factory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fullcheckqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlcustomer" nillable="true" type="tns:tmdlcustomer" />
          <xs:element minOccurs="0" name="tmdlcustomerReference" nillable="true" type="q17:EntityReferenceOftmdlcustomercl_SnyTG4" />
          <xs:element minOccurs="0" name="ttlqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="xrayqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="yearmonth" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpschedule" nillable="true" type="tns:tinpschedule" />
  <xs:complexType name="ArrayOftinpworkorder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpworkorder" nillable="true" type="tns:tinpworkorder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpworkorder" nillable="true" type="tns:ArrayOftinpworkorder" />
  <xs:complexType name="tinpworkorder">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q18:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="factory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpworkorderdtl" nillable="true" type="tns:ArrayOftinpworkorderdtl" />
          <xs:element minOccurs="0" name="tmdlcustomer" nillable="true" type="tns:tmdlcustomer" />
          <xs:element minOccurs="0" name="tmdlcustomerReference" nillable="true" type="q18:EntityReferenceOftmdlcustomercl_SnyTG4" />
          <xs:element minOccurs="0" name="workorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="workorderstatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="workordersysid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpworkorder" nillable="true" type="tns:tinpworkorder" />
  <xs:complexType name="ArrayOftinpworkorderdtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpworkorderdtl" nillable="true" type="tns:tinpworkorderdtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpworkorderdtl" nillable="true" type="tns:ArrayOftinpworkorderdtl" />
  <xs:complexType name="tinpworkorderdtl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q19:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="completedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="completeduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="schcartonqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="schdlydate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="schpairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="schshpdate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpworkorder" nillable="true" type="tns:tinpworkorder" />
          <xs:element minOccurs="0" name="tinpworkorderReference" nillable="true" type="q19:EntityReferenceOftinpworkordercl_SnyTG4" />
          <xs:element minOccurs="0" name="workorderlineno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="workordersysid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpworkorderdtl" nillable="true" type="tns:tinpworkorderdtl" />
  <xs:complexType name="ArrayOftmdlcontact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tmdlcontact" nillable="true" type="tns:tmdlcontact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftmdlcontact" nillable="true" type="tns:ArrayOftmdlcontact" />
  <xs:complexType name="tmdlcontact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q20:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="faxno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isdefault" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mobileno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="telphone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlcustomer" nillable="true" type="tns:tmdlcustomer" />
          <xs:element minOccurs="0" name="tmdlcustomerReference" nillable="true" type="q20:EntityReferenceOftmdlcustomercl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tmdlcontact" nillable="true" type="tns:tmdlcontact" />
  <xs:complexType name="tinpsupplement">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q21:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="factory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="step" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="suplsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="supplementdate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="supplementno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="supplementuser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="workgroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpsupplement" nillable="true" type="tns:tinpsupplement" />
  <xs:complexType name="ArrayOftinpsupplementdtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpsupplementdtl" nillable="true" type="tns:tinpsupplementdtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpsupplementdtl" nillable="true" type="tns:ArrayOftinpsupplementdtl" />
  <xs:complexType name="tinpsupplementdtl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q22:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isreinspect" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="supldtlsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="suplsysid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpsupplementdtl" nillable="true" type="tns:tinpsupplementdtl" />
  <xs:complexType name="tinpshipping">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q23:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="blno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="confirmedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="confirmuser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="containerno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contractno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="createdtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifeduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="loadingtype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="packingboxno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shippeddate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="shippingno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shippingstatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shippingsysid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpshipping" nillable="true" type="tns:tinpshipping" />
  <xs:complexType name="tinpshippingdtl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q24:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifeduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="shippingplanno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shippingstatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shippingsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ttlcantonqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ttlpairqty" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpshippingdtl" nillable="true" type="tns:tinpshippingdtl" />
  <xs:complexType name="ArrayOftinpshippingdtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpshippingdtl" nillable="true" type="tns:tinpshippingdtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpshippingdtl" nillable="true" type="tns:ArrayOftinpshippingdtl" />
  <xs:complexType name="tinpshippingplan">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q25:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="boxqty" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="commissionedqty" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="commissionedvolume" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="commissionedweight" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="deliverybill" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="destinationport" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="inshipno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="loadingdate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shippingplanno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="startport" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="unloadport" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="voyage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpshippingplan" nillable="true" type="tns:tinpshippingplan" />
  <xs:complexType name="ArrayOftinpshippingdtlctn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpshippingdtlctn" nillable="true" type="tns:tinpshippingdtlctn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpshippingdtlctn" nillable="true" type="tns:ArrayOftinpshippingdtlctn" />
  <xs:complexType name="tinpshippingdtlctn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q26:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="cartonno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="shippingsysid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpshippingdtlctn" nillable="true" type="tns:tinpshippingdtlctn" />
  <xs:complexType name="tinprepairstock">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q27:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="curpairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastupdatetime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="step" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ttlbadqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ttlpairgoodqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="workgroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinprepairstock" nillable="true" type="tns:tinprepairstock" />
  <xs:complexType name="tinprepairhis">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q28:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="claimtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="claimuser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isfirst" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="jointtype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="repsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reptype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="step" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlworkgroup" nillable="true" type="tns:tmdlworkgroup" />
          <xs:element minOccurs="0" name="tmdlworkgroupReference" nillable="true" type="q28:EntityReferenceOftmdlworkgroupcl_SnyTG4" />
          <xs:element minOccurs="0" name="workgroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinprepairhis" nillable="true" type="tns:tinprepairhis" />
  <xs:complexType name="tmdlworkgroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q29:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="step" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpcustorderhistory" nillable="true" type="tns:ArrayOftinpcustorderhistory" />
          <xs:element minOccurs="0" name="tinprepairhis" nillable="true" type="tns:ArrayOftinprepairhis" />
          <xs:element minOccurs="0" name="tinpreworkhis" nillable="true" type="tns:ArrayOftinpreworkhis" />
          <xs:element minOccurs="0" name="workgroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="workgroupdesc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tmdlworkgroup" nillable="true" type="tns:tmdlworkgroup" />
  <xs:complexType name="ArrayOftinpcustorderhistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpcustorderhistory" nillable="true" type="tns:tinpcustorderhistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpcustorderhistory" nillable="true" type="tns:ArrayOftinpcustorderhistory" />
  <xs:complexType name="tinpcustorderhistory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q30:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="cartonno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cartonqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="eventgroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="eventname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="eventtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="eventuser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ohsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="refsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shift" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlshift" nillable="true" type="tns:tmdlshift" />
          <xs:element minOccurs="0" name="tmdlshiftReference" nillable="true" type="q30:EntityReferenceOftmdlshiftcl_SnyTG4" />
          <xs:element minOccurs="0" name="tmdlworkgroup" nillable="true" type="tns:tmdlworkgroup" />
          <xs:element minOccurs="0" name="tmdlworkgroupReference" nillable="true" type="q30:EntityReferenceOftmdlworkgroupcl_SnyTG4" />
          <xs:element minOccurs="0" name="workgroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpcustorderhistory" nillable="true" type="tns:tinpcustorderhistory" />
  <xs:complexType name="tmdlshift">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q31:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="endtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shift" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shiftname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tinpcustorderhistory" nillable="true" type="tns:ArrayOftinpcustorderhistory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tmdlshift" nillable="true" type="tns:tmdlshift" />
  <xs:complexType name="ArrayOftinprepairhis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinprepairhis" nillable="true" type="tns:tinprepairhis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinprepairhis" nillable="true" type="tns:ArrayOftinprepairhis" />
  <xs:complexType name="ArrayOftinpreworkhis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpreworkhis" nillable="true" type="tns:tinpreworkhis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpreworkhis" nillable="true" type="tns:ArrayOftinpreworkhis" />
  <xs:complexType name="tinpreworkhis">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q32:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="claimtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="claimuser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="moveto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="rwksysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rwktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlworkgroup" nillable="true" type="tns:tmdlworkgroup" />
          <xs:element minOccurs="0" name="tmdlworkgroupReference" nillable="true" type="q32:EntityReferenceOftmdlworkgroupcl_SnyTG4" />
          <xs:element minOccurs="0" name="workgroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpreworkhis" nillable="true" type="tns:tinpreworkhis" />
  <xs:complexType name="ArrayOftinpwip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpwip" nillable="true" type="tns:tinpwip" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpwip" nillable="true" type="tns:ArrayOftinpwip" />
  <xs:complexType name="tinpwip">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q33:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" type="xs:decimal" />
          <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="workgroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpwip" nillable="true" type="tns:tinpwip" />
  <xs:complexType name="ArrayOftinpreceiving">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpreceiving" nillable="true" type="tns:tinpreceiving" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpreceiving" nillable="true" type="tns:ArrayOftinpreceiving" />
  <xs:complexType name="tinpreceiving">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q34:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="deliverydate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="factory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="receivedate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="receiver" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="recno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="recsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="weather" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpreceiving" nillable="true" type="tns:tinpreceiving" />
  <xs:complexType name="ArrayOftinpreceivingdtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpreceivingdtl" nillable="true" type="tns:tinpreceivingdtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpreceivingdtl" nillable="true" type="tns:ArrayOftinpreceivingdtl" />
  <xs:complexType name="tinpreceivingdtl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q35:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="cartonno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cartonqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ismixed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="linereason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="linetype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="logo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="reclineno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="recsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpreceivingctndtl" nillable="true" type="tns:ArrayOftinpreceivingctndtl" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpreceivingdtl" nillable="true" type="tns:tinpreceivingdtl" />
  <xs:complexType name="ArrayOftinpreceivingctndtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tinpreceivingctndtl" nillable="true" type="tns:tinpreceivingctndtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftinpreceivingctndtl" nillable="true" type="tns:ArrayOftinpreceivingctndtl" />
  <xs:complexType name="tinpreceivingctndtl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q36:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="cartonlocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cartonno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cartonstatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="checktype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="custorderno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ismixed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pairqty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="reclineno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="recsysid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="styleno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tinpreceivingdtl" nillable="true" type="tns:tinpreceivingdtl" />
          <xs:element minOccurs="0" name="tinpreceivingdtlReference" nillable="true" type="q36:EntityReferenceOftinpreceivingdtlcl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tinpreceivingctndtl" nillable="true" type="tns:tinpreceivingctndtl" />
</xs:schema>