GENLSYS.MES.Win/Service References/wsMDL/wsMDL6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" />
  <xs:import schemaLocation="http://localhost:1111/wsMDL.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" />
  <xs:element name="GetSingleReasonCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q1:ContextInfo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q2:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleReasonCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetSingleReasonCodeResult" nillable="true" type="q3:tmdlreasoncode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertReasonCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q4:ContextInfo" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="reasoncode" nillable="true" type="q5:tmdlreasoncode" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="lstReasonCodeStep" nillable="true" type="q6:ArrayOftmdlreasoncodestep" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="lstAttribute" nillable="true" type="q7:ArrayOftsysattributevalue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertReasonCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateReasonCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q8:ContextInfo" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="reasoncode" nillable="true" type="q9:tmdlreasoncode" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="lstReasonCodeStep" nillable="true" type="q10:ArrayOftmdlreasoncodestep" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="lstAttribute" nillable="true" type="q11:ArrayOftsysattributevalue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateReasonCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteReasonCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q12:ContextInfo" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q13:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteReasonCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q14:ContextInfo" />
        <xs:element minOccurs="0" name="reasoncode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReasonCodeStepResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q15:ContextInfo" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q16:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShiftRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q17:ContextInfo" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q18:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetShiftListResult" nillable="true" type="q19:ArrayOftmdlshift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q20:ContextInfo" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q21:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetSingleShiftResult" nillable="true" type="q22:tmdlshift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q23:ContextInfo" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="shift" nillable="true" type="q24:tmdlshift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertShiftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q25:ContextInfo" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="shift" nillable="true" type="q26:tmdlshift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateShiftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q27:ContextInfo" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q28:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteShiftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q29:ContextInfo" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q30:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetWorkGroupListResult" nillable="true" type="q31:ArrayOftmdlworkgroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkGroupRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q32:ContextInfo" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q33:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkGroupRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkGroupRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleWorkGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q34:ContextInfo" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q35:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleWorkGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetSingleWorkGroupResult" nillable="true" type="q36:tmdlworkgroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertWorkGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q37:ContextInfo" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="location" nillable="true" type="q38:tmdlworkgroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertWorkGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateWorkGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q39:ContextInfo" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="location" nillable="true" type="q40:tmdlworkgroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateWorkGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteWorkGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q41:ContextInfo" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q42:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteWorkGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q43:ContextInfo" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q44:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetExchangeListResult" nillable="true" type="q45:ArrayOftmdlexchange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q46:ContextInfo" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q47:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExchangeRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q48:ContextInfo" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q49:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetSingleExchangeResult" nillable="true" type="q50:tmdlexchange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q51:ContextInfo" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="exchange" nillable="true" type="q52:tmdlexchange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertExchangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q53:ContextInfo" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="exchange" nillable="true" type="q54:tmdlexchange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateExchangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q55:ContextInfo" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q56:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteExchangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q57:ContextInfo" />
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValidExchangeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q58:ContextInfo" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q59:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetEmployeeListResult" nillable="true" type="q60:ArrayOftmdlemployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q61:ContextInfo" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q62:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q63:ContextInfo" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q64:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetSingleEmployeeResult" nillable="true" type="q65:tmdlemployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q66:ContextInfo" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="employee" nillable="true" type="q67:tmdlemployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q68:ContextInfo" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="employee" nillable="true" type="q69:tmdlemployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q70:ContextInfo" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q71:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q72:ContextInfo" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q73:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetEmployeeTypeListResult" nillable="true" type="q74:ArrayOftmdlemployeetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeTypeRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q75:ContextInfo" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q76:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeTypeRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeTypeRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleEmployeeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q77:ContextInfo" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q78:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleEmployeeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetSingleEmployeeTypeResult" nillable="true" type="q79:tmdlemployeetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertEmployeeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q80:ContextInfo" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="employeetype" nillable="true" type="q81:tmdlemployeetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertEmployeeTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateEmployeeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q82:ContextInfo" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="employeetype" nillable="true" type="q83:tmdlemployeetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateEmployeeTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteEmployeeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q84:ContextInfo" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q85:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteEmployeeTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q86:ContextInfo" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q87:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetCustomerListResult" nillable="true" type="q88:ArrayOftmdlcustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q89:ContextInfo" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q90:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q91:ContextInfo" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q92:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetSingleCustomerResult" nillable="true" type="q93:tmdlcustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q94:ContextInfo" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="customer" nillable="true" type="q95:tmdlcustomer" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="lstContact" nillable="true" type="q96:ArrayOftmdlcontact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q97:ContextInfo" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="customer" nillable="true" type="q98:tmdlcustomer" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="lstContact" nillable="true" type="q99:ArrayOftmdlcontact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q100:ContextInfo" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q101:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q102:ContextInfo" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q103:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContactRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCategoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q104:ContextInfo" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q105:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetReasonCategoryListResult" nillable="true" type="q106:ArrayOftmdlreasoncategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCategoryRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q107:ContextInfo" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q108:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCategoryRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReasonCategoryRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleReasonCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q109:ContextInfo" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q110:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleReasonCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetSingleReasonCategoryResult" nillable="true" type="q111:tmdlreasoncategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertReasonCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q112:ContextInfo" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="reasoncategory" nillable="true" type="q113:tmdlreasoncategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsertReasonCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateReasonCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q114:ContextInfo" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="reasoncategory" nillable="true" type="q115:tmdlreasoncategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUpdateReasonCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteReasonCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q116:ContextInfo" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q117:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeleteReasonCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeList_ByCategoryStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q118:ContextInfo" />
        <xs:element minOccurs="0" name="reasonCodeCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepsysid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeList_ByCategoryStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetReasonCodeList_ByCategoryStepResult" nillable="true" type="q119:ArrayOftmdlreasoncode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q120:ContextInfo" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q121:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" minOccurs="0" name="GetReasonCodeListResult" nillable="true" type="q122:ArrayOftmdlreasoncode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="contextInfo" nillable="true" type="q123:ContextInfo" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts.Common" minOccurs="0" name="lstParameters" nillable="true" type="q124:ArrayOfMESParameterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReasonCodeRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>