GENLSYS.MES.WinPAD/Service References/wsSEC/wsSEC6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GENLSYS.MES.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1111/wsSEC.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOftsecuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tsecuser" nillable="true" type="tns:tsecuser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftsecuser" nillable="true" type="tns:ArrayOftsecuser" />
  <xs:complexType name="tsecuser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="aduserid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="createdtime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="employeeid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastlogontime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifiedtime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlemployee" nillable="true" type="tns:tmdlemployee" />
          <xs:element minOccurs="0" name="tmdlemployeeReference" nillable="true" type="q1:EntityReferenceOftmdlemployeecl_SnyTG4" />
          <xs:element minOccurs="0" name="tsecuserrole" nillable="true" type="tns:ArrayOftsecuserrole" />
          <xs:element minOccurs="0" name="tsyssession" nillable="true" type="tns:ArrayOftsyssession" />
          <xs:element minOccurs="0" name="tsyssessionhis" nillable="true" type="tns:ArrayOftsyssessionhis" />
          <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userstatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usertype" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tsecuser" nillable="true" type="tns:tsecuser" />
  <xs:complexType name="tmdlemployee">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="defaultshift" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="effectdate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="employeeid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="employeename" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="employeestatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="employeetypeid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="grade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="joindate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mobileno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="probationdate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="telno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlemployeetype" nillable="true" type="tns:tmdlemployeetype" />
          <xs:element minOccurs="0" name="tmdlemployeetypeReference" nillable="true" type="q2:EntityReferenceOftmdlemployeetypecl_SnyTG4" />
          <xs:element minOccurs="0" name="trainer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tsecuser" nillable="true" type="tns:ArrayOftsecuser" />
          <xs:element minOccurs="0" name="workgroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tmdlemployee" nillable="true" type="tns:tmdlemployee" />
  <xs:complexType name="tmdlemployeetype">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="employeetypeid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="employeetypename" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tmdlemployee" nillable="true" type="tns:ArrayOftmdlemployee" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tmdlemployeetype" nillable="true" type="tns:tmdlemployeetype" />
  <xs:complexType name="ArrayOftmdlemployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tmdlemployee" nillable="true" type="tns:tmdlemployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftmdlemployee" nillable="true" type="tns:ArrayOftmdlemployee" />
  <xs:complexType name="ArrayOftsecuserrole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tsecuserrole" nillable="true" type="tns:tsecuserrole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftsecuserrole" nillable="true" type="tns:ArrayOftsecuserrole" />
  <xs:complexType name="tsecuserrole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="roleid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tsecrole" nillable="true" type="tns:tsecrole" />
          <xs:element minOccurs="0" name="tsecroleReference" nillable="true" type="q4:EntityReferenceOftsecrolecl_SnyTG4" />
          <xs:element minOccurs="0" name="tsecuser" nillable="true" type="tns:tsecuser" />
          <xs:element minOccurs="0" name="tsecuserReference" nillable="true" type="q4:EntityReferenceOftsecusercl_SnyTG4" />
          <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tsecuserrole" nillable="true" type="tns:tsecuserrole" />
  <xs:complexType name="tsecrole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="roledesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="roleid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rolestatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tsecroleeqpgroup" nillable="true" type="tns:ArrayOftsecroleeqpgroup" />
          <xs:element minOccurs="0" name="tsecrolefunction" nillable="true" type="tns:tsecrolefunction" />
          <xs:element minOccurs="0" name="tsecrolefunctionReference" nillable="true" type="q5:EntityReferenceOftsecrolefunctioncl_SnyTG4" />
          <xs:element minOccurs="0" name="tsecrolestep" nillable="true" type="tns:ArrayOftsecrolestep" />
          <xs:element minOccurs="0" name="tsecuserrole" nillable="true" type="tns:ArrayOftsecuserrole" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tsecrole" nillable="true" type="tns:tsecrole" />
  <xs:complexType name="ArrayOftsecroleeqpgroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tsecroleeqpgroup" nillable="true" type="tns:tsecroleeqpgroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftsecroleeqpgroup" nillable="true" type="tns:ArrayOftsecroleeqpgroup" />
  <xs:complexType name="tsecroleeqpgroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="eqpgroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="roleid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tsecrole" nillable="true" type="tns:tsecrole" />
          <xs:element minOccurs="0" name="tsecroleReference" nillable="true" type="q6:EntityReferenceOftsecrolecl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tsecroleeqpgroup" nillable="true" type="tns:tsecroleeqpgroup" />
  <xs:complexType name="tsecrolefunction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="funcid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="permis" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="roleid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tsecfunctions" nillable="true" type="tns:tsecfunctions" />
          <xs:element minOccurs="0" name="tsecfunctionsReference" nillable="true" type="q7:EntityReferenceOftsecfunctionscl_SnyTG4" />
          <xs:element minOccurs="0" name="tsecrole" nillable="true" type="tns:tsecrole" />
          <xs:element minOccurs="0" name="tsecroleReference" nillable="true" type="q7:EntityReferenceOftsecrolecl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tsecrolefunction" nillable="true" type="tns:tsecrolefunction" />
  <xs:complexType name="tsecfunctions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="consumer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="createdtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="funcdesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="funcid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="functype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="funcurl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="levelno" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="parentfuncid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tsecrolefunction" nillable="true" type="tns:ArrayOftsecrolefunction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tsecfunctions" nillable="true" type="tns:tsecfunctions" />
  <xs:complexType name="ArrayOftsecrolefunction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tsecrolefunction" nillable="true" type="tns:tsecrolefunction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftsecrolefunction" nillable="true" type="tns:ArrayOftsecrolefunction" />
  <xs:complexType name="ArrayOftsecrolestep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tsecrolestep" nillable="true" type="tns:tsecrolestep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftsecrolestep" nillable="true" type="tns:ArrayOftsecrolestep" />
  <xs:complexType name="tsecrolestep">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="areaid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="createdtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastmodifiedtime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastmodifieduser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="roleid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stepid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tsecrole" nillable="true" type="tns:tsecrole" />
          <xs:element minOccurs="0" name="tsecroleReference" nillable="true" type="q9:EntityReferenceOftsecrolecl_SnyTG4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tsecrolestep" nillable="true" type="tns:tsecrolestep" />
  <xs:complexType name="ArrayOftsyssession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tsyssession" nillable="true" type="tns:tsyssession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftsyssession" nillable="true" type="tns:ArrayOftsyssession" />
  <xs:complexType name="tsyssession">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ipaddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="iskilled" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="islocked" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="logontime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="machine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modulename" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shift" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="systemname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="terminal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tsecuser" nillable="true" type="tns:tsecuser" />
          <xs:element minOccurs="0" name="tsecuserReference" nillable="true" type="q10:EntityReferenceOftsecusercl_SnyTG4" />
          <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tsyssession" nillable="true" type="tns:tsyssession" />
  <xs:complexType name="ArrayOftsyssessionhis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tsyssessionhis" nillable="true" type="tns:tsyssessionhis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftsyssessionhis" nillable="true" type="tns:ArrayOftsyssessionhis" />
  <xs:complexType name="tsyssessionhis">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ipaddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="logontime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="logonuser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="machine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="modulename" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="shift" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="systemname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="terminal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tsecuser" nillable="true" type="tns:tsecuser" />
          <xs:element minOccurs="0" name="tsecuserReference" nillable="true" type="q11:EntityReferenceOftsecusercl_SnyTG4" />
          <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tsyssessionhis" nillable="true" type="tns:tsyssessionhis" />
  <xs:complexType name="ArrayOftsecrole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tsecrole" nillable="true" type="tns:tsecrole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftsecrole" nillable="true" type="tns:ArrayOftsecrole" />
  <xs:complexType name="ArrayOftsecfunctions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tsecfunctions" nillable="true" type="tns:tsecfunctions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftsecfunctions" nillable="true" type="tns:ArrayOftsecfunctions" />
</xs:schema>